                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Users Organizations</h1>
                

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All Users Organizations</h6>
                            <button type="button" class="btn btn-primary" style="float: right;" routerLink="/root-admin/createuserorg">Create User Organization</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Organization</th>
                                            <th>Amount User</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mohamed Achraf</td>
                                            <td>mohamedachrafhamrouni@gmail.com</td>
                                            <td>User Organization</td>
                                            <td>Organization A</td>
                                            <th>50 $</th>
                                            <td>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Chiheb</td>
                                            <td>chiheb.ghlala@gmail.com</td>
                                            <td>User Organization</td>
                                            <td>Organization A</td>
                                            <th>100 $</th>
                                            <td>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jesser</td>
                                            <td>jesser.nasraoui@gmail.com</td>
                                            <td>User Organization</td>
                                            <td>Organization B</td>
                                            <th>75 $</th>
                                            <td>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Helmi</td>
                                            <td>helmi.romdhani@gmail.com</td>
                                            <td>User Organization</td>
                                            <td>Organization B</td>
                                            <th>25 $</th>
                                            <td>
                                                <button class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->