<form style="margin-left:10%; margin-right:10%">

   <!--- <div>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="formdata.subscription_name">
            <option selected *ngFor="let item of ">Choose Subscription</option>
            <option value="1">Subscription A</option>
            <option value="2">Subscription B</option>
        </select>
    </div>-->
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label" style="margin-top: 2%;">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="organization name" name="name" [(ngModel)]="formdata.name">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label" style="margin-top: 2%;">Subscription Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="subscription name" name="subscription_name" [(ngModel)]="formdata.subscription_name">
</div>

<button class="btn btn-primary" (click)="createOrg()">Add Organisation</button>
</form>