<!--<div class="container">

    
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">
            <button routerLink="" class="btn btn-primary" style="margin-top: 2%;">Home</button>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                   
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome User Organization</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <a routerLink="/user-org/user-org-dashboard" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>-->

<section class="vh-100" style="background-color: #508bfc;">
    <button routerLink="" class="btn btn-light" style="margin-left: 47%;">Home</button>
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX-2">Email</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX-2">Password</label>
                        </div>

                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block"
                            type="submit" routerLink="/user-org/user-org-dashboard">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>