<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
        
        <h1 class="sitename">CloudPricer</h1>
    </a>

    <nav id="navmenu" class="navmenu" style="float: right; color:aliceblue">
        <ul>
        <li class="dropdown"><span>How are you ?</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
            <ul>
            <li><a routerLink="super-admin/login">Super Admin</a></li>
            <li><a routerLink="root-admin/login">Admin Organization</a></li>
            <li><a routerLink="user-org/login">User Organization</a></li>
            </ul>
        </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        
    </nav>

    </div>
    
</header>

<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 class="">Better Solutions For Your Business</h1>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
        </div>

    </section><!-- /Hero Section -->
</main>