<form style="margin-left:10%; margin-right:10%">
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">Ubuntu</option>
        <option value="2">CentOs</option>
        <option value="3">Redis</option>
    </select>
    <div class="mb-3" style="margin-top: 1%;">
        <label for="formGroupExampleInput2" class="form-label">CPU</label>
        <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="cpu">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">RAM</label>
        <input type="nulber" class="form-control" id="formGroupExampleInput2" placeholder="ram">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">DISK</label>
        <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="disk">
    </div>
    <button class="btn btn-primary" routerLink="/user-org/containers">Launch container</button>
    </form>